$height50:50px;

.leftNav{
       position: fixed;
    left: 0px;
    top: 64px;
    width: 210px;
    height: 100%;
    overflow: hidden;
       background-color: #20232a;
    // padding: 20px;
    // li{
    //     height: 50px;
    //     line-height: 50px;
    //     padding: auto 10px;
    //     cursor: pointer;
    // }
  
}

:global{
   .ant-tree li .ant-tree-node-content-wrapper,.ant-tree li span.ant-tree-switcher, .ant-tree li span.ant-tree-iconEle{
       height: $height50;
    line-height: $height50;
    color: rgb(191, 203, 217);
   }
}