.leftNav{
       position: fixed;
    left: 0px;
    top: 64px;
    width: 210px;
    height: 100%;
    overflow: hidden;
       background-color: #20232a;
       color: black;
    color: white;
    padding: 20px;
    li{
        height: 50px;
        line-height: 50px;
        padding: auto 10px;
        cursor: pointer;
    }
  
}
