.top-nav{
    height: 50px;
    overflow: hidden;
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,21,41,.08);
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
    padding-left: 20px;
    padding-right: 20px;
    .acount{
        float: right;
    }
    .signOut{
        cursor: pointer;
        margin-left: 20px;
    }
}