.topNav{
    height: 64px;
    line-height: 64px;
    overflow: hidden;
    position: relative;
    background: #282c34;
    -webkit-box-shadow: 0 1px 4px rgba(0,21,41,.08);
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    .title{
        display: inline-block;
    width: 190px;
    color: #61dafb;
    text-align: center;
    font-size: 24px;
    }
    .acount{
        float: right;
        margin-left: 10px;
    }
    .signOut{
        cursor: pointer;
        margin-left: 20px;
    }
}